[2014-10-01 21:34] yeesian opened #1 "Provide informative errors for callback functions"
based on the error codes `KTR_RC_CALLBACK_ERR`, `KTR_RC_EVAL_ERR`, and `KTR_RC_USER_TERMINATION`

[2014-10-01 22:16] yeesian opened #2 "Expose ZLM context"
For creating and destroying solvers in high volume:

[2014-10-01 22:19] yeesian opened #3 "Create an MPB interface"

[2014-10-08 14:55] #3 closed, assigned to nobody

[2014-10-18 03:03] IainNZ opened #5 "KNITRO MPB interface does something wrong with objective sense?"
The test `test_nl_maxobj` in https://github.com/JuliaOpt/JuMP.jl/blob/master/test/nonlinear.jl fails with a wrong solution, and if I change it to a `Min` objective it works.

@mlubin

[2014-10-18 03:24] #5 closed, assigned to nobody

[2014-10-18 05:46] IainNZ opened #6 "Infeasible problem (through MPB) throws error"
From the `test_nl_mpb()` test in `JuMP/test/nonlinear.jl`:

[code]

@mlubin

[2014-10-19 02:17] #6 closed, assigned to nobody

[2014-10-19 03:54] yeesian opened #7 "Finalizer for Env"
similar to https://github.com/JuliaOpt/Gurobi.jl/issues/24.

Currently KNITRO.jl doesn't call `freeProblem` in the finalizer; I haven't found a way to make it work. The relevant lines:

(lines 57-62 in `src/KNITRO.jl`)

and

(lines 67-70 in `src/KNITRO.jl`)

cc @IainNZ @mlubin

[2014-10-19 17:44] yeesian opened #9 "Return status codes rather than throwing error"
for `mip_solve`, and possibly other functions. Reference: #6

[2014-10-19 17:46] yeesian opened #10 "Provide additional tests"
to doublecheck that `kp.status` and `kp.eval_status` are functioning correctly

[2014-10-19 17:55] #7 closed, assigned to yeesian

[2014-11-02 23:48] mlubin opened #11 "starting point not passed to knitro"
When `setwarmstart!` is called after `loadnonlinearproblem!` (which happens in JuMP), the new starting point isn't passed to KNITRO. It looks like `KTR_restart` needs to be called in this case. However, the interface should accept a warmstart both before and after `loadnonlinearproblem!` is called.

[2014-11-07 01:49] #9 closed, assigned to yeesian

[2014-11-07 02:45] #10 closed, assigned to yeesian

[2014-11-12 17:26] #11 closed, assigned to yeesian

[2014-11-19 18:04] yeesian opened #13 "pass options to KNITRO from MPB interface"

[2014-11-27 18:10] #13 closed, assigned to yeesian

[2014-12-19 23:03] mlubin opened #16 "unbounded status misreported"
KNITRO currently fails the nonlinear unboundedness test in JuMP. I added the parameter `objrange=1e16`, and now KNITRO detects unboundedness but returns the wrong status:

[code]

[2014-12-20 00:18] yeesian opened #17 "provide information on objective and constraint functions"
Currently I formulate the problem through the MPB interface, using the most general objective and constraint types:

[code]

I'd like to add support to be more specific with the function types, but am not sure how to go about doing so via the [MPB interface](http://mathprogbasejl.readthedocs.org/en/latest/nlp.html); where should I go to find out more about it? @mlubin, @joehuchette

[2014-12-20 01:32] #17 closed, assigned to yeesian

[2014-12-20 03:35] yeesian opened #18 "fallback options for MPB interface"
I'm getting
[code]
The actual test is as follows:
[code]
Should I be assuming that `d::AbstractNLPEvaluator` will always provide
[code]
or do I provide fallback options in the event that it doesn't?

Related: #17

[2014-12-20 18:17] #16 closed, assigned to nobody

[2015-01-07 18:47] lauren897 opened #20 "libknitro: image not found"
So I've followed the installation instructions, and have KNITRO in my path as follows
[code]
but am getting the following error message:
[code]

@mlubin

[2015-01-07 19:13] yeesian commented on #20
Ah, looks like you haven't provided the license file for KNITRO to get up and running; I'll update the installation instructions

[2015-01-07 19:17] #20 closed

[2015-01-07 20:57] IainNZ commented on #20
Where is that `WARNING: Dict-based syntax for metadata is deprecated. Use `meta` method instead.` warning coming from?

[2015-01-07 21:02] lauren897 commented on #20
That was pasted in the wrong place - it pops up when you run `using KNITRO`

[2015-01-07 21:03] yeesian commented on #20
Yeah haha, that was my mistake, sorry! I suspect it might be coming from the docstrings in `src/ktr_functions.jl`? Not sure tbh..

[2015-01-08 20:02] yeesian commented on #18
It's non-urgent, but I'm just wondering if it is non-trivial to get this implemented? I don't mind giving it a shot (as an exercise in getting to know the codebase better), but I'm not sure what needs to be done, apart from appending
[code]
to the list of exported functions in the relevant [solver interfaces](https://github.com/yeesian/MathProgBase.jl/tree/master/src/SolverInterface). I see that t

[2015-01-08 20:30] mlubin commented on #18
Just add
[code]
to ``SolverInterface/nonlinear.jl``.

[2015-01-11 14:15] lauren897 opened #23 "ReverseDiffSparse getindex error"
When running

`status = solve(mod)`

I get this error:

[code]

The model formulation works fine in Gurobi, I've set starting values for all my variables, and I'm using @addNLConstraint and setNLObjective everywhere.  I can send the model itself if that's helpful.

[2015-01-11 15:35] mlubin commented on #23
This unfriendly error looks like it means that there's a variable being used as an index somewhere in the model. Please post or send me the model.

[2015-01-11 21:31] lauren897 commented on #23
Hm.  The model's below.  I can't find any clashing names, though I have definitely been guilty of that before.  I think I have:

Model vars: x, x2, xreal, z
iterators: i, j, k, m, p1, p2
constants: n, K, p, L, y
(and yes, writing that out makes me feel somewhat ashamed of my lack of any sort of naming conventions... but the sets do seem to be disjoint)

Stuff that runs before the model:

[code]

T

[2015-01-12 06:35] mlubin commented on #23
This could potentially be a bug, but I'm traveling and don't have time to look into it right now.
Which of the constraints present are actually nonlinear? Try using ``@addConstraint`` instead for the linear constraints, though if you want to use KNITRO you currently need to have a nonlinear objective or at one nonlinear constraint.

[2015-01-12 20:34] lauren897 commented on #23
That would do it - I don't actually have nonlinear constraints or objective - it's just a linear MIP.  I was originally getting a different error with just @addConstraint, and Yee Sian said I should try changing them all to say NL even if they were linear, which resulted in the new error above.  I was running into some weird precision issues with Gurobi and it sounded like KNITRO might have a leg

[2015-01-12 20:36] joehuchette commented on #23
Is this a problem with KNITRO the solver or KNITRO.jl? Seems like there should at least be a useful error message if no nonlinearities are present.

[2015-01-12 20:37] mlubin commented on #23
KNITRO.jl doesn't implement ``loadproblem!``.

[2015-01-12 23:21] yeesian commented on #23
Yeah, it's a problem with `KNITRO.jl` (and not the solver), since KNITRO doesn't yet implement `loadproblem!`, I will include a warning in the documentation after I get back

[2015-01-19 15:24] yeesian commented on #18
closed via https://github.com/JuliaOpt/MathProgBase.jl/pull/53

[2015-01-19 15:24] #18 closed

[2015-01-23 21:05] cdagnino opened #24 "Pkg.test("KNITRO") fails on KNITRO.jl 0.0.4, Julia 0.3.5, Mac OS 10.9.5"
I could successfully solve a few models, but the package test failed.
I'm using KNITRO 9.1.
This is what it prints to the screen:

[code]

My version info:

[code]

Package versions:

[code]

[2015-01-23 21:10] mlubin commented on #24
This was fixed a while ago in #21 but not bumped in METADATA. Doing so now.

[2015-01-23 21:10] #24 closed

[2015-01-23 22:20] mlubin commented on #23
Fixed the bug that caused the ``getindex`` error, thanks for reporting!

The model you posed will now run (after ``Pkg.update()``) if you change the last constraint to
[code]
because ``sum()`` can't be used in nonlinear constraints.

[2015-01-23 22:20] #23 closed

[2015-02-10 02:13] cdagnino opened #25 "Documentation for key functions"
Hi,

Could you provide some syntax and explanation for a few key functions?
In particular, I'm confused about `initializeProblem()`
For example, how would I initialize a problem without passing the analytic gradient nor the hessian? Or passing just the gradient but not the hessian?
Can I avoid passing the sparsity patterns?
Since this should be consistent with the `setCallbacks()` function, I'm gu

[2015-02-10 04:28] yeesian commented on #25
Hi @cdagnino, you should have a look at the [JuMP.jl](https://github.com/JuliaOpt/JuMP.jl) package which allows you to do just that (:

Here's an example of something you might do with KNITRO.jl ([callback functions, sparsity patterns, and all](https://github.com/JuliaOpt/KNITRO.jl/blob/master/examples/minlp.jl)), and how you might do it through JuMP.jl ([without having to specify the gradient/hes

[2015-02-10 04:44] cdagnino commented on #25
@yeesian : thanks for your answer. I've used JuMP and did see the JuMP examples, but it seems the problems I tackle are not easily converted into JuMP algebra (I've recently posted on julia-opt google groups asking for a simple way to convert a function).

1. I read http://knitrojl.readthedocs.org/solving.html  and  http://knitrojl.readthedocs.org/example.html but still had many questions. IMHO, I

[2015-02-10 04:46] yeesian commented on #25
May I check: were you previously using KNITRO's MATLAB API?

[2015-02-10 13:42] cdagnino commented on #25
The examples definitely help! But, to refer to my particular problem, I didn't find one that didn't provide the full hessian and hessian structure and sometimes providing that becomes difficult for large problems.

I have used the Matlab API, but I'm very far from an expert in it. However, I did find [this doc page](https://www.artelys.com/tools/knitro_doc/3_referenceManual/knitromatlabReference.h

[2015-02-10 22:10] yeesian commented on #25
That clarifies alot, thanks!

[It can be done](https://github.com/JuliaOpt/KNITRO.jl/blob/master/src/ktr_functions.jl#L374-L400), but we haven't yet provided a convenient way to [initialize the problem](https://github.com/JuliaOpt/KNITRO.jl/blob/master/src/KNITRO.jl#L88-L96) without specifying the hessian in this package.

While your interest is piqued, might you be interested to implement this fu

[2015-02-10 22:16] mlubin commented on #25
@cdagnino, we do encourage use of the MathProgBase interface over the low-level knitro interface. There shouldn't be a reason to tie your code to a particular commercial solver, and knitro provides no support for the development of the julia-knitro interface. If it's not clear how to do something through the MPB interface, please do open an issue or ask on julia-opt. There may be pieces that are n

[2015-02-10 22:18] yeesian commented on #25
@mlubin I think he's looking for a blackbox nonlinear interface that doesn't require you to specify the hessian. Does the MPB interface allow for that yet? And do we have solvers that allow him to do so?

[2015-02-10 22:23] mlubin commented on #25
http://mathprogbasejl.readthedocs.org/en/latest/nlp.html#features_available
MPB allows for it, just don't include ``:Grad``, ``:Jac``, or ``:Hess`` in the list of features supported by the problem. The knitro interface should check ``features_available`` and call the corresponding knitro functions. Knitro doesn't need first or second derivatives (but of course it will do much better if they are pr

[2015-02-10 22:26] yeesian commented on #25
Ah, I'll leave that as a second task for @cdagnino, if he's up for it (:

[2015-02-14 21:42] cdagnino commented on #25
@mlubin : thanks for the answer. I'll look into it and post on Julia-opt if I fail. If I have the time I'll post an IJulia notebook for people as clueless as myself.

@yeesian : I can give it a try, but my coding skills may not be up to the par. Should I just keep questions piling up here or is there something like a gitter chat? I have quite a lot of questions that are not directly related to thi

[2015-02-26 01:51] mlubin commented on #25
@cdagnino, also, feel free to contact Knitro support to let them know that you're interested in using Knitro in Julia. If enough people do this, then they're likely to eventually provide official support and implement the features which are missing.

[2015-02-26 05:08] yeesian commented on #25
Sorry @cdagnino, I have been really busy the past few weeks -- we should take these conversations elsewhere. @mlubin, I didn't realize JuliaOpt has a [gitter chatroom](https://gitter.im/JuliaOpt); is it open to the public?

[2015-05-14 19:13] toshifumikuroda opened #28 "Fail to use KNITRO910 in Julia 0.3.8"
Hi everybody,
This is a issue that I posted in julia-opt as "Fail to use KNITRO.jl in Julia 0.3.8"
https://groups.google.com/forum/#!topic/julia-opt/USsnzZd99XI

I'm not sure there is any error log files that help this issue.
Thank you!

julia> Pkg.test("KNITRO")
|INFO: Computing test dependencies for KNITRO...
INFO: No packages to install, update or remove
INFO: Testing KNITRO
ERROR: wrong number

[2015-05-14 19:58] toshifumikuroda commented on #28
I tried to use KNITRO 9.0.1 in same computer. The result is same with KNITRO 9.1.0.
I'm not sure what make this issue. But, I have an experience that the fact that Japanese Windows does not use "/" but use "\" to point a directory makes an issue in Julia.
![capture_001_14052015_155239](https://cloud.githubusercontent.com/assets/12432689/7640578/feb29130-fa51-11e4-89af-afa13d92db68.jpg)

[2015-05-14 20:02] yeesian commented on #28
Thanks for the reports! Can you try running the following code (which doesn't depend on the directory path) to see if it works?

[code]

[2015-05-14 20:08] mlubin commented on #28
Could this be related to the ``@doc`` macros somehow?

[2015-05-14 20:10] yeesian commented on #28
Haven't run KNITRO in awhile, lemme pull the changes and check

[2015-05-14 21:00] yeesian commented on #28
@toshifumikuroda can you try running
[code]
and see if it works now?

[2015-05-14 22:07] toshifumikuroda commented on #28
Thank you yeesian and mlubin for this issue.

The results are

julia> Pkg.checkout("KNITRO", "examples-path")
INFO: Checking out KNITRO examples-path...
fatal: Cannot update paths and switch to branch 'examples-path' at the same time
.
Did you intend to checkout 'origin/examples-path' which can not be resolved as c
ommit?
ERROR: failed process: Process(`git '--work-tree=C:\Users\wizu\.julia\v0.3\K

[2015-05-14 22:14] yeesian commented on #28
I can never seem to get it right with git and package manager, haha

@mlubin?

[2015-05-14 22:15] mlubin commented on #28
@toshifumikuroda, try running ``Pkg.update()`` before the ``Pkg.checkout`` command above.

[2015-05-14 22:24] toshifumikuroda commented on #28
Thank you mlubin,
Of course I did Pkg.update() before try Pkg.checkout.

[2015-05-14 22:26] mlubin commented on #28
I just merged @yeesian's PR, so just run ``Pkg.checkout("KNITRO")`` now.

[2015-05-14 22:31] toshifumikuroda commented on #28
Great! I get "INFO: KNITRO tests passed" from Pkg.test("KNITRO")
Thank you mlubin and yeesian.
I'm appreciate your help.

[2015-05-14 22:36] yeesian commented on #28
The bug's my fault. Thanks for reporting it (:

[2015-05-14 22:36] #28 closed

[2015-05-22 22:41] davidanthoff opened #30 "MathProgSolverInterface.optimize! cannot be called repeatedly"
I'm trying to call the Knitro solver via the MathProgSolver interface repeatedly for a problem where the structure is not changed between solve calls, but parameters of the objective function might change their value. With Ipopt I can just call the ``MathProgSolverInterface.optimize!`` repeatedly for the same problem, and it will just resolve. With the Knitro package I get an error saying ``ERROR:

[2015-05-22 23:40] mlubin commented on #30
Sure, this should be supported. PRs would help more than prescriptions though :)

We would appreciate it if you let KNITRO support know that you find this wrapper useful. If enough people do so, we hope that official support will follow.

[2015-05-23 00:29] davidanthoff commented on #30
#31. I have way too little knowledge of MathProgBase or Knitro to tell whether this is an ok way to enable this scenario... All the tests seem to pass, at least something.

[2015-07-09 20:45] davidanthoff opened #32 "Tag a new release"
The current taged version has an error when one calls ``Pkg.test("KNTIRO")``. The master version works fine.

[2015-07-09 20:53] yeesian commented on #32
:ok_hand: it's been awhile since the last time. I'm currently in new hampshire though, can you help?

[2015-07-09 21:00] davidanthoff commented on #32
I don't have commit access. Couldn't the current master just be tagged as the next release? Not sure how I could help with that. @mlubin

[2015-07-09 21:03] mlubin commented on #32
I'll tag

[2015-07-09 21:11] davidanthoff commented on #32
Thanks!

[2015-07-09 21:23] yeesian commented on #32
Thanks miles! And thanks for the reminder david!

Unrelatedly, I'm confused: is commit access needed to tag a package? I
thought the procedure was to tag the package in a julia session, and submit
a PR of the diff to METADATA.

On Thu, Jul 9, 2015 at 5:11 PM, David Anthoff <notifications@github.com>
wrote:

[2015-07-09 21:37] mlubin commented on #32
You need commit access to properly tag a release: https://github.com/JuliaOpt/KNITRO.jl/releases

[2015-07-09 21:45] IainNZ commented on #32
Its because of the overloaded meaning of tag: the git notion of it, and the Julia notion. Only can get both simultaneously with package commit access.

[2015-07-09 21:47] #32 closed

[2015-07-21 22:40] yeesian commented on #30
closed by #31

[2015-07-21 22:40] #30 closed

[2015-07-28 12:22] mlubin opened #33 "broken on julia master"
[code]

[2015-07-28 17:15] yeesian commented on #33
Should I prepend `Docile.` to all mention of `@doc` for now?

Longer term, how should i proceed to support this on both 0.3 and 0.4? Is there a way to conditionally require/load Docile if the user is running 0.3?

[2015-07-28 17:16] mlubin commented on #33
According to Docile's [docs](http://docilejl.readthedocs.org/en/latest/manual/), just conditionally use the Docile package depending on 0.3 or 0.4.

[2015-07-28 17:17] yeesian commented on #33
:ok_hand:

[2015-07-28 19:17] yeesian commented on #33
This still isn't working on 0.4:

[code]

[2015-07-28 19:24] #33 closed

[2015-08-04 15:46] mlubin opened #36 "KNITRO gives bad duals"
Currently:
[code]
Can we return the actual lagrange multipliers instead? JuMP now has tests for nonlinear duals which KNITRO is failing.

[2015-08-04 16:14] yeesian commented on #36
I think the lagrange multipliers are `m.inner.lambda`, but I'll check

[2015-08-06 22:38] #36 closed

[2015-11-19 21:39] yeesian opened #40 "Add support for new functionality in KNITRO 10"
News: http://www.artelys.com/news/160/50/Artelys-presents-Knitro-10-0-at-the-INFORMS-Conference-in-Philadelphia

[2015-12-10 20:37] edljk opened #42 "Hessian mandatory ?"
Is it possible to call KNITRO from Julia/MathPorgBase when the Hessian feature is not available ?

[2015-12-11 05:03] mlubin commented on #42
It's not currently implemented, but you can use the logic in Ipopt as an example: https://github.com/JuliaOpt/Ipopt.jl/blob/13e38c512469a9a68dd9892df210af23cada1e48/src/IpoptSolverInterface.jl#L32

[2015-12-11 11:02] edljk commented on #42
@mlubin Thank you for the pointer. The logic was rather simple, I managed to adapt KnitroSolverInterface.jl:

[code]
Should I push the modification directly from my clone directory ?

[2015-12-11 11:29] edljk commented on #42
nohessian test added and seems to be ok

[code]

[2015-12-11 15:26] mlubin commented on #42
Yes, please open a PR. Thanks!

[2015-12-11 19:09] mlubin commented on #42
Closed by #43

[2015-12-11 19:09] #42 closed

[2016-01-24 05:11] AzamatB opened #45 "dlopen(libknitro.dylib, 1): image not found"
[code]
from Julia's REPL, I get to pass all tests. However, when I run this command in Jupiter notebook i get the following error:
[code]
Have installed everything according to instructions.

[2016-01-24 16:24] mlubin commented on #45
Check that ``ENV["DYLB_LIBRARY_PATH"]`` lists a directory which contains ``libknitro.dylib``.

[2016-01-24 22:28] AzamatB commented on #45
running `ENV["DYLD_LIBRARY_PATH"]` from Julia's REPL returns correct output:
`":/Users/Azamat/knitro-10.0.1-student-MacOSX-64/lib"`,

However, the same command from Jupiter notebook returns the following error:
[code]

This is what is in my `.bash_profile`
[code]

[2016-02-07 05:32] Kelvyn88 opened #46 "Add support to work with Atom"
I got this error when I want to use KNITRO in Atom.

LoadError: error compiling loadproblem!: error compiling call: could not load library "libknitro".

[2016-02-07 15:51] mlubin commented on #46
This is not directly related to Atom. Please make sure the proper environment variables are set so that julia can find "libknitro".

[2016-02-07 15:51] #46 closed

[2016-02-07 17:21] Kelvyn88 commented on #46
I declared the environment variable. From Julia knit is running well, but fails when I run the same code in atom

[2016-02-07 20:10] mlubin commented on #46
@Kelvyn88, if Atom isn't picking up the environment variables, you can set them from inside julia before loading knitro, e.g.,
[code]

[2016-02-08 15:44] mlubin commented on #45
You should set ``ENV["DYLD_LIBRARY_PATH"]`` inside the jupyter notebook before ``using KNITRO``.

[2016-02-08 15:44] #45 closed

[2016-08-16 18:20] pierremabille opened #51 "Rootfinding problem"
Is there any other (simpler) way to set up and solve a rootfinding problem in the current Julia version of KNITRO than to write it as a minimization problem (in which the objective function is a constant and the equations whose roots we want to find are the constraints)? Thanks.

[2016-08-16 19:41] mlubin commented on #51
Not sure how this relates to the Julia Knitro wrapper. Does Knitro have an interface for rootfinding that's not exposed here?

[2016-08-16 19:44] pierremabille commented on #51
Well I'm looking for a Julia equivalent of the MATLAB command knitromatlab_fsolve, I didn't find a similar command.

[2016-08-16 19:47] mlubin commented on #51
I don't believe there is such an interface. We'd certainly accept it as a contribution or you could contact Artelys and make them aware of your request.

[2016-08-17 14:43] pierremabille opened #52 "Derivative-free (un)constrained nonlinear problem"
Hi, is there a way to solve an (un)constrained nonlinear problem with KNITRO.jl, without specifying the gradient, Jacobian and Hessian? The objective function is a generic function that has no simple analytic expression. I have been exploring the MathProgBase interface, mostly based on the examples here (https://github.com/JuliaOpt/MathProgBase.jl/blob/master/test/nlp.jl), but it looks like when w

[2016-08-17 15:00] mlubin commented on #52
I believe Knitro supports not providing derivatives, but that's not currently exposed through the MathProgBase interface. You'll have to look into the Knitro API and figure out how to do this, or ask Artelys.

[2016-08-17 15:04] pierremabille commented on #52
I am also looking at how to do it in the knitro API, will post an example if I manage to do it, otherwise if someone has already done it, an example would be very helpful.

[2016-08-17 15:35] mlubin commented on #52
You'll likely reach a bigger audience by posting on the [julia-opt](https://groups.google.com/forum/#!forum/julia-opt) list. As you can see above, very few people are subscribed to these issues.

[2016-08-18 14:43] pierremabille commented on #52
Ok, I managed to do it, will post an example when I have time, possibly on JuliaOpt.
Additional question: what do jac_con, jac_var, hess_row, hess_col correspond to in your examples?
Thanks!

[2016-08-18 20:31] pierremabille opened #54 "Derivatives sparsity patterns"
Hi,
What do jac_con, jac_var, hess_row, hess_col correspond to in your examples, and how to set them if the objective function has no clear analytical form?
Thanks!

[2016-08-18 20:40] mlubin commented on #54
You should look at the documentation in the Knitro API to see what to set these values to when you don't provide derivatives: https://www.artelys.com/tools/knitro_doc/3_referenceManual/callableLibrary/API.html

[2016-08-18 20:42] #51 closed

[2016-08-18 21:22] #54 closed

[2016-08-19 13:59] pierremabille opened #55 "Help comparing KNITRO.jl and Matlab results"
Hi everyone, my problem is the following. I am solving a nonlinear system of (14) equations without giving knitro the derivatives. Results in Matlab and Julia are inconsistent, could you please help me understand why?

In Matlab I use the knitromatlab_fsolve command, with some options (options=optimset('Display','iter-detailed','TolX',1e-15,'TolFun',1e-12,'MaxIter',100,'MaxFunEvals',20000)). I als

[2016-08-19 19:03] pierremabille commented on #55
Issue solved. I can post a small example if anyone is interested.

[2016-08-19 19:15] mlubin opened #56 "documentation is dead"
@yeesian, the docs seem to be broken: http://knitrojl.readthedocs.io/en/latest/knitro.html

[2016-08-19 19:17] mlubin commented on #55
@pierremabille, you're more than welcome to add an example to the documentation, e.g., here: https://github.com/JuliaOpt/KNITRO.jl/blob/master/doc/example.rst

[2016-08-19 20:44] yeesian commented on #56
I've poked around a little, but can't figure out what broke. Any ideas? The builds are passing on rtd...

[2016-08-19 21:13] mlubin commented on #56
Dunno, we could just abandon RTD and use github pages.

[2016-08-22 15:02] yeesian commented on #55
Now that we're in the process of switching the docs from readthedocs to gh-pages, can you post the example here instead? I'll update the docs to include it.

[2016-08-22 15:10] pierremabille commented on #55
Yes I will do it as soon as possible!

[2016-08-23 00:21] #56 closed

[2016-08-23 16:09] pierremabille commented on #55
Ok, so here is a short example of how to solve a nonlinear system of equations in KNITRO.j, without specifying any of the derivatives, when there is no analytical expression for the nonlinear system of equations to solve.

The setting and options replicate those of the Matlab function knitromatlab_fsolve, the knitro equivalent of Matlab's fsolve. Of course in my example those derivatives (gradient

[2016-08-23 16:25] yeesian commented on #55
For clarity: is the reason why it was stuck in your original due to the following (since `gvec` doesn't change?):

[code]

[2016-08-23 16:31] pierremabille commented on #55
No, it was due to the specifications of derivatives sparsity patterns, and options for computing derivatives in the knitro.opt files (strangely when you print a detailed output in matlab, it sets derivative computation options to 4, a value that doesn't exist for gradopt and hessopt -- here it works for gradopt 2, forward differences, and 3, central differences, and various values for hessopt). Ba

[2016-08-23 16:40] yeesian commented on #52
is this a dup of #55 ?

[2016-08-23 17:30] pierremabille commented on #52
Yes. I eventually didn't use the MathProgBase interface, looks like it's easier to tweak the solver's parameters directly as I did in https://github.com/JuliaOpt/KNITRO.jl/issues/55.

[2016-08-23 17:39] #52 closed

[2016-08-23 20:07] mlubin commented on #55
(@pierremabille, just so you know, for any function that you can compute on a computer you can in principle compute its exact derivatives by using techniques from automatic differentiation. Having analytic expressions is irrelevant, in principle.)

[2016-08-23 22:17] pierremabille opened #58 "Memory allocation for a license from the Ziena License Manager for high volume KNITRO applications"
Does it work? The methods are commented in https://github.com/JuliaOpt/KNITRO.jl/blob/master/src/ktr_functions.jl#L70. I gave it a try on a computer cluster, on which I need to solve a very large number of nonlinear systems, but with no success. Thanks.

[2016-08-23 22:21] yeesian commented on #58
We'd be happy to accept a PR if you figure it out, and will like to submit one (:

[2016-08-23 22:24] pierremabille commented on #58
Did you guys give it a try? I haven't been able to figure it out. The checkoutlicense and releaselicense methods should be updated, but I don't know how. In particular @zlm_ccall is not defined inside the code, what does it refer to?

[2016-08-23 22:30] yeesian commented on #58
The `@zlm_ccall` macro has not yet been defined, since it isn't yet required anywhere. If it were to be defined, it'll be analogous to [that for `ktr_ccall`](https://github.com/JuliaOpt/KNITRO.jl/blob/master/src/KNITRO.jl#L28-L35). Figuring it out will be a good entry point for you to understand the KNITRO codebase.

[2016-08-24 03:43] mlubin opened #59 "link to knitro options disappeared"
https://www.artelys.com/tools/knitro_doc/3_referenceManual/userOptions.html
Is this linked anywhere in the documentation? It used to be in the readme.

[2016-09-15 20:34] mlubin opened #62 "passing linearity"
TODO: Revert https://github.com/JuliaOpt/KNITRO.jl/commit/ecabd477d20fe48773263751b5bc0fe625d54993 and bump our minimum required version to 10.1.2. See https://groups.google.com/d/msg/knitro/H9ck55HjY0s/0McW9ZEzEQAJ.

[2016-09-15 20:41] pierremabille commented on #58
I and other people figured it out. Will try to post an explanation here in the next month or so, then perhaps a pull request.

[2016-10-31 19:55] huckl3b3rry87 opened #63 "Trouble Setting up KNITRO.jl on UBUNTU"
I am trying to set up KNITRO on an Ubuntu machine and I am having some trouble.

1) I got an academic license

2) add the license.txt file to the $HOME directory:

after an ls:
...
ziena_lic_trial_artelysknitro_student_2016-10-28_afaa768d14.txt
febbo@febbo-HP-ZBook-17-G2:~$ pwd
/home/febbo

3) Extract KNITRO to this directory:
febbo@febbo-HP-ZBook-17-G2:~/knitro-10.1.2-z-Linux-64$ pwd
/home/febbo/

[2016-11-01 02:43] yeesian commented on #63
What does running
[code]
give you?

[2016-11-04 20:27] huckl3b3rry87 commented on #63
@yeesian Thank you very much for the quick response. Sorry for the delay.

Thank you for catching my error, I definitely messed that path up. Following your steps:
1)
![ss](https://cloud.githubusercontent.com/assets/8204378/20021143/e982d9f2-a2aa-11e6-826d-90b4363b26ca.png)

Then I ran:
[code]
Any other ideas? I assume that the above output is indicating that it did not add the path to my environm

[2016-11-05 14:11] yeesian commented on #63
I'm not sure, but it seems like you should be modifying your `.bash_profile` or `.bashrc` file instead of mucking around with the `/etc/ld.so.conf.d` directory.

[2016-11-07 15:57] huckl3b3rry87 commented on #63
@yeesian you where exactly correct. I had to edit my .bashrc file:
[code]
then I put:
[code]
in that file and it works!

[2016-11-07 15:57] #63 closed

[2016-11-08 02:02] ccoffrin opened #64 "Package Tests are Brittle when using a License Server"
When using a Knitro license server, from what I can tell, each call to KnitroSolver() checks out a new license.  Combine this with the license release timer and Pkg.test("KNITRO") quickly runs into "### License found, but all copies are checked out" errors.

This may be related to #58.

[2017-03-30 04:57] huckl3b3rry87 opened #67 "initialization error"
I know that it may be hard to tell what is going on (especially since I cannot recreate with a simple problem), but I am getting this sporadic error:
[code]

When I use IPOPT with the same problem it works. So, I think it may be a bug

Also, it sometimes it works even for KNITRO!

[code]
Then I restart julia and run the same thing again:
[code]
and it works!!!!

[2017-04-29 19:52] edljk opened #68 "eval_hesslag_prod call"
It seems there is a conflict with default call of ̀
[code]
when `d` is a julia `JuMP.NLPEvaluator` and `KnitroSolverInterface.jl`
[code]
which uses the same vector for the input and the result of the product. No ?

[2017-04-29 20:47] yeesian commented on #68
Quite possibly. I don't think I have tested this part of the codebase enough to be familiar with it. PRs welcome!

[2017-04-29 20:53] yeesian commented on #67
There isn't enough information here for me to figure out what is happening. Is this still an issue?

[2017-05-04 18:20] huckl3b3rry87 commented on #67
@yeesian the error is still happening. Unfortunately, it is stocastic so I imagine it would be very hard to debug. I will let you know if I can get more information about this

[2017-05-04 18:22] yeesian commented on #67
Feel free to open another issue with steps to reproduce the error if you come across them.

[2017-05-04 18:22] #67 closed

[2017-06-29 01:15] huckl3b3rry87 opened #70 "support for 0.6"
Currently the tests are failing for the new version of julia. As a user of KNITRO, I will forward this to the folks at Artelys to ask for support.

**UPDATE**
after asking KNITRO for help, they said that they do not (yet at least) support julia and since they are in the middle of a release they have other priorities at the moment.

@yeesian do you think that you could take a look at this? I looked

[2017-07-10 18:21] joaquimg commented on #64
Any news on this one?

[2017-07-10 19:17] ccoffrin commented on #64
I have not had time to work on it.  But I hope to at some point.

[2017-07-11 12:45] #59 closed

[2017-07-21 12:48] joaquimg commented on #64
once JuliaOpt/MathProgBase.jl#197 is merged this should be solved

[2017-07-21 13:22] joaquimg commented on #64
Merged!
@ccoffrin could you test with your license server?
Mine is working smoothly.

[2017-07-21 19:42] ccoffrin commented on #64
@joaquimg master seems to be much better now, thanks!!!

All tests did not pass on my Julia 0.5 install, but that's probably because I am running old versions of something.

[code]

[2017-07-21 19:52] joaquimg commented on #64
Nice!
Indeed I did not solve that error, but that is not related to this issue anymore.

[2017-07-21 19:53] mlubin commented on #64
The error should be fixed by https://github.com/JuliaOpt/KNITRO.jl/pull/73

[2017-07-21 19:55] joaquimg opened #74 "MPB nlp rosenbrock test is failing"
There is a problem with jacobians.
See #65 [this comment](https://github.com/JuliaOpt/KNITRO.jl/issues/64#issuecomment-317094675)

[2017-07-21 20:16] sylvainmouret commented on #74
This has just been fixed and merged in #73.

[2017-07-21 20:16] #74 closed

[2017-07-21 20:17] joaquimg commented on #74
Nice timing!

[2017-07-22 11:24] sylvainmouret commented on #70
This issue has been fixed in #73

[2017-07-22 11:24] #70 closed

[2017-07-30 15:19] sylvainmouret commented on #64
Indeed it is important to free the Knitro context in order to release the license.
I just tested on Windows on my machine, and it works fine.

[2017-07-30 15:19] #64 closed

[2017-08-29 17:37] rt5592 opened #76 "Pkg.test("KNITRO") LoadError"
Hi
I added the "KNITRO" package; when I try to run a test (Pkg.test("KNITRO") ) I get the following error:

ERROR: LoadError: LoadError: LoadError: error compiling createProblem: error compiling Type: could not load library "knitro" the specified module could not be found.

Any insight is appreciated. Thanks.

[2017-08-29 17:41] sylvainmouret commented on #76
Hi,
Just to make sure, have you downloaded the Artelys Knitro ditribution from [Artelys' website](http://www.artelys.com/knitro)?
The Julia package "KNITRO" is only the interface that allows solving models with Knitro, from Julia.
Best,

[2017-08-29 17:45] rt5592 commented on #76
Ok thanks.

On Aug 29, 2017 12:42 PM, "Sylvain Mouret" <notifications@github.com> wrote:

[2017-08-29 17:49] #76 closed

[2017-09-06 17:14] montyvesselinov opened #78 "JuMP.Model(solver=NLopt.NLoptSolver()) fails with constraints"
This works:

[code]

however this fails:

[code]

[2017-09-07 21:00] sylvainmouret commented on #78
Hello,
This issue does not seem to be related to the KNITRO package.
If so, please submit your issue to the appropriate package.

[2017-09-07 21:01] #55 closed

[2017-09-07 21:03] sylvainmouret commented on #1
Can you explain what the problem is exactly?
Or can we close this issue?

[2017-09-08 02:56] yeesian commented on #1
I was originally thinking of more readable `Symbols` in julia, rather than integers for error codes, but I haven't yet seen this actually being an issue for users, so let's close this issue for now. We can always open a new issue if need be.

[2017-09-08 02:56] #1 closed

[2017-09-08 03:17] yeesian commented on #78
The most natural place to post this issue will be in the JuMP package. Fixes there will be [gladly accepted](https://github.com/JuliaOpt/JuMP.jl/issues/849#issuecomment-246275384).

[2017-09-08 03:17] #78 closed

[2017-09-10 18:37] rt5592 commented on #76
just to clarify, I have to have the Artelys Knitro distribution to use Knitro solver with MathProgBase and JuMP as well?

thanks!

[2017-09-10 18:44] sylvainmouret commented on #76
Yes exactly.
You may download a trial license from the above website if you wish.

[2017-09-10 18:47] rt5592 commented on #25
to implement this:
function MathProgBase.initialize(d::AbstractNLPEvaluator, requested_features::Vector{Symbol})
    for feat in requested_features
        if !(feat in [ ])                                                 # empty array here ?
            error("Unsupported feature $feat")
            # TODO: implement Jac-vec and Hess-vec products
            # for solvers that need them
        e

[2017-09-10 19:07] sylvainmouret commented on #25
I don't know for Ipopt.
It depends on the solver's capability to handle problems for which no derivatives are provided.
(I suggest to post this comment on the corresponding Github repository, you'll probably get a better answer there).

[2017-09-10 19:11] sylvainmouret commented on #25
@mlubin @yeesian I read this issue but I'm confused as to what would need to be done to close this issue. Can you enlighten me?

[2017-09-10 19:17] mlubin commented on #25
Given that this issue is more than two years old, probably safe to close. It's a request for more examples for the pure knitro interface.

[2017-09-11 15:16] rt5592 commented on #25
thank you the reply @mlubin.
I didn't open a new issue because this one contains what I wanted to ask about already. But I will re-post it in 'MathProgBase'.

Thanks.

[2017-09-11 20:00] #25 closed

[2017-09-13 16:42] rt5592 opened #79 "error using a different Options file"
Hi
I have a second options file in the same directory (in 'examples' folder) called 'knitro1.opt'.

when I try to call it using:
`loadOptionsFile(kp, joinpath(dirname(@__FILE__),"knitro1.opt"))`

I get an error loading parameters.

but when I just load the original options file it works:
`loadOptionsFile(kp, joinpath(dirname(@__FILE__),"knitro.opt"))`

I am not sure what's causing the error.

Than

[2017-11-07 17:49] dpo commented on #68
There are other issues with `hesslag_prod`. If I set `KTR_PARAM_HESSOPT=5`, I get
[code]

[2017-11-07 22:09] sylvainmouret commented on #68
Dominique,

Edouard has fixed the issue and we merged it, but forgot to make a release of it.
Just did (v0.3.1) so you should simply update the KNITRO package.
Let us know if this works for you.

[2017-11-07 22:15] sylvainmouret commented on #79
Hi,

I have tried this with v0.3.1 but I could not reproduce the error.
Can you try again with the latest release (v0.3.1) and also share your new options files with us?

[2017-11-08 00:58] molivo commented on #46
@mlubin I have the same issue. I tried adding `ENV["LD_LIBRARY_PATH"]` and `ENV["DYLD_LIBRARY_PATH"]` to the juliarc.jl file. That solves the problem in the console only, but the problem persists when I try to run a file from an open pane in Atom. Do you have any suggestions?

[2017-11-08 03:35] dpo commented on #68
Thank you Sylvain! That fixes it and Knitro flies as always!

[2018-03-12 16:24] #68 closed

[2018-03-12 16:46] GillesBareilles opened #83 "Parameters depending on Knitro version"
As mlubin pointed out, compatibility issues could be prevented if parameter definitions depended on Knitro's version.

[2018-03-13 09:34] GillesBareilles commented on #62
This was done at commit 67a6e8379d1b39476282abb56a6e65598e2896c6. The example from the google thread now gives the correct objective.

[2018-03-13 09:34] #62 closed

[2018-05-22 07:34] ziminzeng commented on #46
I have the same issue too. Does anyone know how to solve the problem? Thanks a lot

[2018-05-22 10:26] GillesBareilles commented on #46
@ziminzeng, could you give details on your configuration (OS, knitro version, atom install, ...), the context in which knitro fails, and the error returned by Julia please ?

Specifically, is there an environment variable pointing to the `lib` subdirectory of the Knitro install folder ?

[2018-06-16 15:35] easalgadov opened #85 "Knitro + Jump - loadproblem"
When I try to run the example of the `Readme.me` file using JUMP I face the following error:

error compiling loadproblem!: error compiling Type: could not load library "libknitro"
libknitro.so: cannot open shared object file: No such file or directory

Stacktrace:
 [1] _buildInternalModel_nlp(::JuMP.Model, ::JuMP.ProblemTraits) at /home/tate/.julia/v0.6/JuMP/src/nlp.jl:1248
 [2] #build#119(::Bool

[2018-06-18 15:12] GillesBareilles commented on #85
Hi easalgadov,
Are you working with Atom, or Jupyter by any chance ? How did you run the readme example and the `Pkg.Test("KNITRO")` ?

[2018-10-01 21:01] sylvainmouret opened #86 "Compatibility with Julia 1.0"
It seems Knitro is not yet compatible with Julia 1.0.
I don't know if this is just a requirement that needs updating or if more work is involved.
Does anyone know?

[2018-10-02 06:49] blegat commented on #86
Checking the history the last commit is yours in March 13 : https://github.com/JuliaOpt/KNITRO.jl/commits/master so I would guess the package does not support Julia v1.0 yet.

[2018-10-02 07:11] sylvainmouret commented on #86
Sure, the requirement says mentions Julia 0.6, but previously, it meant Julia 0.6 and earlier versions.
I guess it it is not sufficient to allow its use with Julia 1.0 (probably due to the change of major version).
That said, we can update the requirement file, but will it be sufficient?
I can try when I find the time, but if anyone has the answer to this question, I'd be glad to hear about it.

[2018-10-02 07:39] blegat commented on #86
`Julia 0.6` in the REQUIRE file means that it requires Julia v0.6 or later so Julia v1.0 is not excluded. No change in the REQUIRE file is needed.

[2018-10-02 12:07] mlubin commented on #86
More work is involved than updating REQUIRE. Julia 1.0 has tons of breaking changes, and I haven't seen any case where zero changes were needed to get Julia-0.6-compatible code running. That said, the process is not too difficult. If the test coverage is sufficiently good, you can run the package's tests under Julia 0.7 and fix all deprecation warnings. After it runs without deprecation warnings o

[2018-11-12 12:27] frapac opened #88 "Add MOI support"
The package KNITRO.jl should support the new interface MathOptInterface

[2018-11-15 08:22] sylvainmouret commented on #86
This issue has been fixed with the latest PR.
We'll create a new release to make it available to everyone.

[2018-11-15 08:22] #86 closed

[2018-11-15 18:46] frapac opened #89 "Implement bridges with the new KNITRO's API"
Since KNITRO 11.0 has been released, a new user API is available, with function names starting by `KN_` rather than `KTR_`.

This new API allows more flexibility, and should be implemented in `KNITRO.jl`

[2018-11-16 07:50] frapac commented on #89
I propose the following restructuration for `KNITRO.jl`:

1\ We move the old API to a dedicated module:
[code]
that we load in `KNITRO.jl`.

Then, we could update the old examples by:
[code]

2\ We implement the wrapper with the new API by using the same module's structure as other JuliaOpt's wrapper:
https://github.com/JuliaOpt/CPLEX.jl/tree/master/src
https://github.com/JuliaOpt/Gurobi.jl/tree/m

[2018-12-06 15:22] frapac opened #92 "Wrap KNITRO's callbacks inside MOI"
Currently, only generic NLP callbacks (eval_f, eval_g, eval_h) are handled inside `MOI_wrapper`. However, KNITRO 11 supports other callbacks:
- evaluation callbacks for least-square models (cf `KN_add_lsq_eval_callback` and `KN_set_cb_rsd_jac`)
- new estimate callbacks, called each time KNITRO computes a new estimate of the solution points (cf `KN_set_newpt_callback`)
- MIP node callbacks (cf `KN_

[2018-12-06 15:26] frapac opened #93 "Segfault when using multithreaded instances of KNITRO"
For instance, if we set a number of threads greater to one in the example `tuner.jl`:
https://github.com/Artelys/KNITRO.jl/blob/fp/moi/examples/tuner.jl#L185

KNITRO returns a segfault.

[2018-12-06 15:35] odow commented on #93
CPLEX has similar issues: https://github.com/JuliaOpt/JuMP.jl/issues/904

[2018-12-06 16:07] frapac commented on #88
Solved by #94

[2018-12-06 16:08] frapac commented on #83
This issue is adressed in #94

[2018-12-06 16:08] frapac commented on #58
This is adressed for KNITRO 11 in #94

[2018-12-06 16:09] frapac commented on #40
KNITRO.jl would support new KNITRO API with #94

[2018-12-06 16:10] frapac commented on #2
This is adressed for KNITRO 11.x in #94

[2018-12-06 16:10] frapac commented on #89
This is adressed in #94

[2018-12-13 23:13] mgabay commented on #40
This news originally refered to the OO intefaces which address other programming languages but did not add specific features and new options act_qpalg, datacheck and out_csvinfo.

I think this can be closed thanks to recent works from François

[2018-12-19 20:05] rtriolo22 opened #95 "Pkg.test fail"
I am getting an error when running `Pkg.test("KNITRO")`

`ERROR: LoadError: LoadError: LoadError: UndefVarError: libknitro not defined`

I have installed Artelys Knitro (and I have successfully run with R and Python).
I have updated my environment variable and verified that this is accessible in julia:
`julia> ENV["DYLD_LIBRARY_PATH"]`
`"/Applications/knitro-11.1.0-z-MacOS-Intel17-64/lib"`

As men

[2018-12-20 21:12] sylvainmouret commented on #95
Hi Ryan,
This has been fixed with PR #96 and released under v0.5.2.
Apparently, the interface has never been tested under macOS...
Can you checked that the problem is fixed and close the issue?

[2018-12-21 04:04] rtriolo22 commented on #95
Thank you Sylvain,

This did fix the issue. Great work, much appreciated!

Ryan

[2018-12-21 04:04] #95 closed

[2019-01-25 14:56] TorkelE opened #97 "Error when trying to use KNITRO: could not load library "libgomp""
I've been trying to get KNITRO to work for Julia.

I have gotten a license from Artelys and I have put it into my home folder. I downloaded KNITRO from the as well. I got a folder named "knitro-11.1.0-z-Linux-Intel17-64" which I also put in my home folder. I then edited my ".bashrc" file and added the line `export LD_LIBRARY_PATH="$HOME/knitro-11.1.0-z-Linux-Intel17-64/lib:$LD_LIBRARY_PATH"` at th

[2019-01-25 15:46] frapac commented on #97
You guess right: KNITRO.jl does not find the OpenMP library. Usually, installing the `libomp-dev` library does solve the problem:
[code]

If this is not the case on your case, I stay at your disposal to investigate further!

[2019-01-26 13:38] TorkelE commented on #97
Ok, this seeed to have worked, partially. The previous error is gone but there is a new one:
[code]

So now it seems like it is the "libknitro" that is the problem. I have double checked in my "/home/user.name/knitro-11.1.0-z-Linux-Intel17-64/lib" folder and there is a "libknitro.so" file in there.

[2019-01-28 13:59] TorkelE commented on #97
If I enter that into the console (within Atom) I get this error:

ERROR: KeyError: key "LD_LIBRARY_PATH" not found

[2019-01-28 15:08] TorkelE commented on #97
Thanks, again it seems to work, but only partially. I execute `ENV["LD_LIBRARY_PATH] = "/home/user.name/knitro-11.1.0-z-Linux-Intel17-64/lib"`. Now I can succesfully run `test Knitro`, `using Knitro` and `KnitroSolver(ms_enable=1))`.

However, when I actually try to solve something I again get problems:
[code]
this gives the error
[code]

[2019-01-28 15:39] frapac commented on #97
Where did you modify the `ENV` dictionnary? Did you set it in your juliarc.jl (`.julia/config/startup.jl`on julia 1.0) ?

[2019-01-28 16:37] TorkelE commented on #97
I wrote `ENV["LD_LIBRARY_PATH] = "/home/user.name/knitro-11.1.0-z-Linux-Intel17-64/lib"` into the console in Juno. My `.julia` folder does not seem to have a `config` folder within it.

[2019-01-28 16:50] frapac commented on #97
It is not enable by default, you should create it by yourself. That is,
[code]
and then modify the `ENV` variable directly in `startup.jl`.

[2019-01-28 18:33] TorkelE commented on #97
This doesn't seem to work, I created the file and added the line. Next I restart atom.
Checking `ENV["LD_LIBRARY_PATH]` gives the correct oath, however
[code]
gives the same error.

[2019-01-28 19:36] zhangxz1123 commented on #97
I've experienced with the same error. Is it due to the new version of Knitro (version 11). My `.../knitro-11.1.0-z-Linux-Intel17-64/lib/` folder looks like this:
`libifcoremt.so*    libintlc.so*       libknitro.a@          libsvml.so*
libifcoremt.so.5*  libintlc.so.5*     libknitro.so@         README
libifport.so*      libiomp5.so*       libknitro.so.11@
libifport.so.5*    libknitro1110.a    libkn

[2019-01-28 20:40] zhangxz1123 commented on #85
Been experiencing with the same problem. `Pkg.Test("KNITRO")` passed successfully, but when running the following example in README, I get the same error
`using KNITRO, JuMP
m = JuMP.Model(solver=KNITRO.KnitroSolver(options_file="knitro.opt"))
JuMP.@variable(m, x[1:3]>=0)
JuMP.@objective(m, Min, 9.0 - 8.0*x[1] - 6.0*x[2] - 4.0*x[3]
                            + 2.0*x[1]^2 + 2.0*x[2]^2 + x[3]^2

[2019-01-28 21:20] frapac commented on #97
@zhangxz1123 Does this issue arises in the Julia REPL or only with Atom?

I have to reinstall Atom on my computer to investigate this issue.

Thanks for reporting!

[2019-01-29 10:16] TorkelE commented on #97
Thanks, can confirm that starting atom via the terminal made Knitro run successfully.

[2019-01-30 07:33] frapac commented on #85
I am able to reproduce the issue, and also find a solution.
A quick fix is to run jupyter notebook directly in the shell:
[code]
so that Jupyter imports all your environment variables.

If you still encounter an issue with this fix, please report.

[2019-02-05 07:43] frapac commented on #97
Closing this issue, as it was addressed in https://github.com/JuliaOpt/KNITRO.jl/pull/99

[2019-02-05 07:43] #97 closed

[2019-02-05 07:44] frapac commented on #85
Closing this issue, as it was addressed in https://github.com/JuliaOpt/KNITRO.jl/pull/99

[2019-02-05 07:44] #85 closed

[2019-02-18 17:02] #88 closed

[2019-02-18 17:02] #2 closed

[2019-02-18 17:03] #40 closed

[2019-02-18 17:03] #58 closed

[2019-02-18 17:03] #89 closed

[2019-02-21 11:30] frapac opened #101 "Drop support of Julia 0.6"

[2019-03-11 12:28] ferrolho opened #104 "Using an `option_file` with JuMP"
Using JuMP, how can I load an options file?

I currently start the model with:
[code]

There doesn't seem to be an argument reserved for `options_file`:
[code]

[2019-03-11 14:13] frapac commented on #104
You are right, the documentation of `KNITRO.jl` remains partial, but we are planning to update it in the next few months. You can specify the option file with
[code]

The same holds for the tuner file:
[code]

[2019-03-11 14:15] ferrolho commented on #104
Thank you very much for the quick reply! :+1: Exactly what I was looking for.

[2019-03-11 14:15] #104 closed

[2019-03-11 14:19] ferrolho commented on #104
Meanwhile, I found the code snippet concerning this issue; I'll leave it here for posterity:
https://github.com/JuliaOpt/KNITRO.jl/blob/6f1f173af4988b7c006681f2aaeb12b53afd8404/src/MOI_wrapper.jl#L118-L135

[2019-03-11 14:32] frapac opened #105 "Update documentation for Knitro.jl"
Refer to #104

[2019-03-16 15:55] kaarthiksundar opened #107 "Optimizer not defined"
Strictly speaking this error should not occur - any way to find out why?

[code]

[2019-03-16 16:06] kaarthiksundar commented on #107
resolved.

[2019-03-16 16:06] #107 closed

[2019-03-17 15:20] frapac commented on #107
I just provide an answer for those encountering a similar issue: Knitro supports MathOptInterface only for version >= `11.0` (see [README.md](https://github.com/JuliaOpt/KNITRO.jl#mathoptinterface-interface)). The latest version of Knitro adds support for incremental changes in the optimization model, and a lot of other stuffs. We highly recommend to upgrade to the latest Knitro version, if compat

[2019-04-13 21:03] dpo opened #110 "User callback ignored?"
I modified the example `nlp2.jl` so the callback reads
[code]
However, it appears that KNITRO ignores the user-requested termination:
[code]
KNITRO happily continues until optimality. I tried doing the same in the C example that ships with KNITRO and the callback behaves as expected:
[code]

What am I doing wrong?

The updated example is available here: https://gist.github.com/109e1ce3f016fdc5595f

[2019-04-15 12:30] #110 closed

[2019-05-02 12:38] ferrolho opened #113 "Why is `EvalResult.obj` an `Array{Float64}`?"
As far as I know, KNITRO can only evaluate cost/objective functions that result in a single value. As such, why is it that `EvalResult.obj` is an `Array`?

https://github.com/JuliaOpt/KNITRO.jl/blob/5caf23741fff6792ffec858907885aebebe2e5fd/src/kn_callbacks.jl#L259-L269

My apologies in advance if this question is not directly related to `KNITRO.jl` but to KNITRO itself; but this is really the best

[2019-05-02 13:27] frapac commented on #113
No worry! The reason is that in Knitro, we are passing the objective as a pointer to the different callbacks (see for instance [Knitro documentation about callbacks](https://www.artelys.com/tools/knitro_doc/2_userGuide/callbacks.html)). In KNITRO.jl, `EvalResult` is a direct wrapper to the C object `KN_eval_result`, and as so store the objective as `Array{Float64}`.

This allows to mimic the behav

[2019-05-02 14:11] ferrolho commented on #113
So, in a nutshell, this is just a way of easing the wrappers for the C callbacks?

[2019-05-02 14:30] frapac commented on #113
Exactly. And also to add consistency between the different Knitro interfaces.

[2019-05-03 10:07] #113 closed

[2019-05-14 06:50] frapac commented on #101
Closed by #115

[2019-05-14 06:50] #101 closed

[2019-05-14 06:50] #79 closed

[2019-05-14 06:51] #83 closed

[2019-05-14 06:55] frapac opened #116 "Release"
@JuliaRegistrator register()

[2019-05-14 06:55] JuliaRegistrator commented on #116
Error while trying to register: Version 0.6.0 already exists

[2019-05-14 06:56] frapac commented on #116
v0.7.0
@JuliaRegistrator register()

[2019-05-14 06:56] JuliaRegistrator commented on #116
Error while trying to register: Version 0.6.0 already exists

[2019-05-14 07:00] frapac commented on #116
v0.7.0
@JuliaRegistrator register()

[2019-05-14 07:00] JuliaRegistrator commented on #116
Registration pull request created: [JuliaRegistries/General/727](https://github.com/JuliaRegistries/General/pull/727)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the github

[2019-05-14 07:01] JuliaRegistrator commented on #116
Registration pull request updated: [JuliaRegistries/General/727](https://github.com/JuliaRegistries/General/pull/727)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the github

[2019-05-14 08:54] #116 closed

[2019-07-06 23:25] dpo opened #119 "How to specify output file name?"
The documentation says that the log file name can be changed via the `outname` option. I downloaded the `nlp1.jl` example and modified it like so:
[code]
However, the output still goes to `knitro.log`:
[code]

Thanks.

[2019-07-07 18:05] frapac commented on #119
This is a known bug in the solver Knitro, unfortunately... I have a (dirty) workaround to overcome this issue, till a fix is found in Knitro itself:

https://github.com/frapac/Knitro-Zoo/blob/master/opf/pglib/pglib_benchmark.jl#L107-L111

[2019-07-18 23:21] ferrolho opened #120 "User routine for func_callback returned -500"
After calling `KNITRO.KN_solve(kc)` the optimisation process is interrupted with:
[code]

I must be doing something wrong in one of the callbacks, but I am finding it very hard to understand what I am doing wrong. There is no backtrace or any other printed information that could hint me to what I could possibly be doing wrong.

Is there any way I could go on to debug this one?

[2019-07-19 06:23] frapac commented on #120
I have sometimes encountered this issue when using callbacks defined in closures. The workaround I have is to precompile the callbacks before sending them to Knitro, e.g.
[code]

Do you have a MWE that would allow to investigate this issue?

[2019-07-19 14:22] ferrolho commented on #120
It is not so easy for me to give a MWE because my code is quite extensive. It's a bit curious though, because I have not had this issue in the past.

Long story short: I was developing something and was lazy enough to not care much about organisation and was doing everything in a _single_ jupyter notebook; and I never had any error like the one in the OP. Now I am trying to move away from that eno

[2019-07-19 23:07] ferrolho commented on #120
I have been trying to narrow the problem down but this still is an issue. I have noticed that if I run this the first time, it will just not do anything at all (optimisation-wise); for the second time, it will fail later, maybe after one or two iterations; and for the third time I run the optimisation, it usually is able to complete without any problem... Very weird.

I have also followed your sug

[2019-07-20 14:25] ferrolho commented on #120
Okay, I am getting closer. I can tell it is failing in [`eval_fc_wrapper()`](https://github.com/JuliaOpt/KNITRO.jl/blob/c84355c10803cd3b10b540ab1d2ab64fa3750f38/src/kn_callbacks.jl#L285-L315); more specifically, here:
https://github.com/JuliaOpt/KNITRO.jl/blob/c84355c10803cd3b10b540ab1d2ab64fa3750f38/src/kn_callbacks.jl#L300-L307

At some point, one of the iterations calls a function/gradient eval

[2019-07-20 15:09] frapac commented on #120
Interesting. I really appreciate your detailed investigation, I think that will help a lot to debug what's going on.
My best guess is that the issue is related to the garbage collector (that would explain the non-deterministic behavior observed in your issue). For instance, looking at your stacktrace, we get
[code]
The pointer to the Julia's callback becomes `NULL`, thus leading to a crash in Knit

[2019-07-20 16:52] ferrolho commented on #120
Yes, thank you! You are correct! I followed your advice and I am now wrapping the call to `KN_solve(kc)` with `GC.@preserve` and for all the `cb` I create with `KN_add_eval_callback()` or similar:

[code]

And it works! No crash so far on optimisations with hundreds of iterations and function/gradient calls.

I would like to understand the root cause of this issue and fix it, but for now this will

[2019-07-21 18:04] frapac commented on #120
Happy to see that workaround works on your example! I will push a fix in `Knitro.jl` next week.

[2019-07-21 18:06] ferrolho commented on #120
Great! Looking forward to see the root of the issue and the fix. :smiley: Again: thank you for the help!

[2019-07-28 23:03] MaximilianJHuber opened #121 "Callback does not yield CallbackContext (sometimes)"
I have had the issue of receiving:
[code]
when I solve my unconstrained problem. I added a `@show` into [eval_ga_wrapper](https://github.com/JuliaOpt/KNITRO.jl/blob/c84355c10803cd3b10b540ab1d2ab64fa3750f38/src/kn_callbacks.jl#L336) and got:

[code]

and sometimes a SEGFAULT:
[code]

When I `Base.GC.enable(false)` before the `solve`, then there are no issues.
I tried to construct an MWE, but it is

[2019-07-29 08:09] frapac commented on #121
This issue is related to #120 : I am currently working on a fix, that hopefully would be released in a few days.

[2019-07-29 14:12] MaximilianJHuber commented on #121
Thank you! I close this issue in favor of [#120](https://github.com/JuliaOpt/KNITRO.jl/issues/120).

[2019-07-29 14:12] #121 closed

[2019-08-02 10:32] frapac commented on #120
Closed by #122

[2019-08-02 10:32] #120 closed

[2019-08-02 10:34] frapac opened #123 "Release"
v0.7.1
@JuliaRegistrator register()

[2019-08-02 10:34] JuliaRegistrator commented on #123
Registration pull request created: [JuliaRegistries/General/2459](https://github.com/JuliaRegistries/General/pull/2459)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-08-30 12:02] frapac commented on #123
v0.7.2
@JuliaRegistrator register()

[2019-08-30 12:02] JuliaRegistrator commented on #123
Registration pull request created: [JuliaRegistries/General/3074](https://github.com/JuliaRegistries/General/pull/3074)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-09-04 18:32] joaquimg opened #125 "Can't run test until the end (Network license)"
I a having problem running the KNITRO tests in julia. The problem is, my KNITRO is not releasing automatically the network license.
Probably calling the function that frees the licenses after each solve is enough for these network licenses.

The output of:
[code]
is:
[code]

[2019-09-05 08:35] frapac commented on #125
Indeed, the tests are using the function `KN_new` as default function to instantiate a Knitro model, instead of `KN_new_lm`, which is the correct function when using a license manager.
With a license manager, the typical calling sequence is:
[code]

The fact that the tests are not passing when using a license manager is indeed annoying. I will think about a workaround to solve this issue.

[2019-10-26 10:31] frapac commented on #123
v0.7.3
@JuliaRegistrator register()

[2019-10-26 10:31] JuliaRegistrator commented on #123
Error while trying to register: "Tag with name `0.7.2` already exists and points to a different commit"

[2019-10-26 10:33] frapac opened #131 "Release 0.7.3"
v0.7.3
@JuliaRegistrator register()

[2019-10-26 10:33] JuliaRegistrator commented on #131
Error while trying to register: "Tag with name `0.7.2` already exists and points to a different commit"

[2019-10-26 10:39] frapac commented on #131
v0.7.3
@JuliaRegistrator register()

[2019-10-26 10:39] JuliaRegistrator commented on #131
Registration pull request created: [JuliaRegistries/General/4746](https://github.com/JuliaRegistries/General/pull/4746)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-10-28 10:08] frapac commented on #131
v0.7.3
@JuliaRegistrator register()

[2019-10-28 10:08] JuliaRegistrator commented on #131
Registration pull request created: [JuliaRegistries/General/4802](https://github.com/JuliaRegistries/General/pull/4802)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-10-29 09:14] #131 closed

[2019-10-31 08:10] frapac commented on #93
Investigating it further, it appears that the problem arises only when we are using Knitro's callbacks. We should figure out a thread-safe way to use them.

[2019-10-31 13:09] jlperla commented on #93
Great.  So it sounds like this is likely a more classic thread safety issue rather than anything to do with pthreads?

[2019-10-31 16:52] frapac commented on #93
Yes, which is a good news! I think the problem arises as we are embedding a `KNITRO.Model` in each callback:
https://github.com/JuliaOpt/KNITRO.jl/blob/master/src/kn_callbacks.jl#L12

I am working on a fix to get rid of that.

[2019-10-31 17:26] jlperla commented on #93
Perfect.  @arnavs  is on vacation for a few weeks, but if anything is ready around that time, we can test it.

[2019-11-04 07:56] frapac commented on #93
Investigating it further, it seems that the issue arises because Knitro callbacks do not respect this rule:
https://docs.julialang.org/en/v1.3-dev/manual/calling-c-and-fortran-code/#Thread-safety-1

[2019-11-04 14:54] frapac opened #134 "Knitro path not recognized properly on MacOS"
cc @jipkim

[2019-11-04 17:07] jlperla commented on #93
@frapac  Great.  Seems like a pain, but they provide a workaround?

But, if I understand the workaround, we would need to be careful that we don't just end up executing all of the julia callabacks in a single julia thread, or else the advantages of parallel knitro are limited.  Perhaps what is needed is that you would start up julia NUM_THREADS with roughly the same amount you want to do with the

[2019-11-04 19:58] #134 closed

[2019-11-05 17:15] frapac commented on #93
Even if I set `par_concurrent_evals=0` (as done in the knitroampl interface, which is not thread safe), we get a segfault. This looks tricky.

A `gdb` call on `julia-debug` returns the stacktrace:
[code]

So, Knitro creates a new thread (here with id `0x7fffd33f5700`) and fails to evaluate the Julia callback on this particular thread.

[2019-11-05 17:53] jlperla commented on #93
Alas, I fear this is outside of my paygrade and I don't have any students who would be likely to know the answers.  Should we beg help from the experts?  @ChrisRackauckas do you know a good person we could ask about these sorts of multi-threading issues with external libraries?  Have you run into this with DiffEq callbacks, for example?

[2019-11-18 00:07] dpo opened #136 "Number of multipliers in callback"
I'm upgrading to KNITRO.jl 0.7.3 because previous versions don't build for me (Compat.jl doesn't appear in Project.toml).

I'm trying to solve a simple example problem with 2 variables and 1 constraint. However I'm puzzled by the fact that `evalRequest.lambda` in the callback is a vector of length 3. My tests used to pass and no longer do, so I presume something changed in KNITRO and/or KNITRO.jl.

[2019-11-18 09:03] frapac commented on #136
As you have 2 variables and 1 constraints, `evalRequest.lambda` should be of length 3 (2 reduced costs + one Lagrange multipliers). The order is as follows:
[code]

However, I do not understand why your code was working with earlier version of `KNITRO.jl` (the code for callbacks does not change much during the previous months). Have you a MWE so that I could try to reproduce your issue?

[2019-11-18 15:06] dpo commented on #136
I see. It's a bit strange to give the multipliers for bound constraints to evaluate the Hessian, so I thought that couldn't be the reason. I'm not sure why tests used to pass. The problem in question is one of the tests of NLPModelsKnitro, but it's not entirely trivial to reproduce as you would have to first try with the latest version of NLPModels, version 0.10.0, and then with 0.9.0.

At any rat

[2019-12-17 10:41] frapac commented on #123
v0.8.0
@JuliaRegistrator register()

[2019-12-17 10:41] JuliaRegistrator commented on #123
Registration pull request created: [JuliaRegistries/General/6832](https://github.com/JuliaRegistries/General/pull/6832)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-17 14:18] odow commented on #93
Looks like this was closed accidentally by #138.

[2019-12-17 14:33] frapac commented on #93
Right, thank you!

[2020-01-07 12:14] ferrolho opened #141 "Passing `userParams` to `callbackNewPoint`"
The example for adding a `callbackNewPoint`
https://github.com/JuliaOpt/KNITRO.jl/blob/2ccc7a4c6b6212cb79f4d16b061a042beab55341/examples/nlp2.jl#L201-L204
seems to already use `userParams` for passing problem information to the callback:
https://github.com/JuliaOpt/KNITRO.jl/blob/2ccc7a4c6b6212cb79f4d16b061a042beab55341/examples/nlp2.jl#L111-L115

Is it possible to pass additional data by calling

[2020-01-07 22:01] frapac commented on #141
Indeed, the userparams in `callbackNewPoint` is mispecified. It should return a valid userparams rather than a Knitro model. I will work on a fix then.

[2020-03-24 13:41] #123 closed

[2020-03-24 13:42] frapac commented on #141
Closed with #143

[2020-03-24 13:42] #141 closed

[2020-03-24 19:06] ferrolho opened #151 "`newpt_wrapper` access to undefined reference"
I have an issue related to #143 after upgrading to `v0.9.0`:

[code]

This only happens if I set a new point callback:
[code]

[2020-03-24 19:15] ferrolho commented on #151
I think that replacing this line
https://github.com/JuliaOpt/KNITRO.jl/blob/c0db89ef55fd3876139c176b73293299e035d7f9/src/kn_callbacks.jl#L620
with something like
[code]
should solve the issue, but I don't know if this is the most idiomatic way of doing it.

[2020-03-26 22:17] ferrolho commented on #151
Here is a minimal working example.

**Source**
[code]

**Output**
[code]
[code]

[2020-03-27 14:41] ferrolho commented on #151
Closed with #152.

[2020-03-27 14:41] #151 closed

[2020-04-15 15:27] kaarthiksundar opened #154 "Tagging constraints as active"
Is there a way to tag a constraint as active when we try to use SQP method to solve an NLP. I was thinking this will speed up the algorithm.

[2020-04-15 19:16] frapac commented on #154
Unfortunately, there is no direct methods to tag a constraint as active in Knitro.

When using the SQP algorithm, you could pass your initial guess concerning the active set `A_0` by using the method [KN_set_con_dual_init_values](https://www.artelys.com/docs/knitro//3_referenceManual/callableLibraryAPI.html#KN_set_con_dual_init_values), with
[code]
with `lambda_init` an initial vector storing non-

[2020-05-28 20:34] ferrolho commented on #93
Hello @frapac! Do you have any updates on this? I was just now looking into computing finite difference gradient values in parallel with [`par_numthreads`](https://www.artelys.com/docs/knitro/3_referenceManual/userOptions.html#par_numthreads), but when I specify >1 threads it still starts the optimisation with `Knitro performing finite-difference gradient computation with 1 thread.`

[2020-05-29 10:30] frapac commented on #93
Hi @ferrolho! There was indeed a few updates due to Knitro 12.2. Now Knitro enables parallel multistart by default in its internal, hence causing segfault in Knitro.jl when using parallel multistart. To catch this use case, Knitro.jl now set explicitly the number of threads to 1.

[2020-05-29 10:45] ferrolho commented on #93
Okay, thanks! Just to make sure: finite-difference gradient computation with more than one thread is not possible at the moment, correct?

[2020-05-29 10:58] frapac commented on #93
If you are using a callback function coded in Julia, that's correct. But if you have a pure linear/quadratic/conic structure (hence you do not rely on any callback) parallel finite-difference or multistart should work.

[2020-05-29 11:14] ferrolho commented on #93
I see... Thank you for the clarification. Indeed I was trying to do it for a general callback implemented in Julia. I will keep in mind this would work if I wanted to do it for pure Knitro structures though. Thanks!

[2020-05-29 13:46] jlperla commented on #93
Thanks @frapac   Are parallel nonlinear problems with knitro hopeless in the short term?  Anything Artelys can do about it?

[2020-05-29 16:18] ferrolho opened #161 "Why is `nV` a parameter of `KN_set_cb_grad()`?"
The signature of `KN_set_cb_grad()` consists of `nV` and `objGradIndexVars`, among other parameters:
https://github.com/JuliaOpt/KNITRO.jl/blob/d6002d40b59e80b19c9d93f3dc3942a4d3249866/src/kn_callbacks.jl#L413-L415
I am wondering why `nV` is part of the function signature when it could be obtained within the function as `length(objGradIndexVars)` instead. Is this redundancy there on purpose?

Inde

[2020-05-29 19:45] frapac commented on #161
Good question! I acknowledge that Knitro's API is sometimes mysterious, but that's the price for its flexibility I guess. Here, different situations could occur:

- you do not want to compute the gradient of the objective in this particular callback environment `cb` (e.g. if your objective is linear, or computed in another callback environment). Then, set `nV = 0`
- the gradient of your objective

[2020-05-30 09:54] frapac commented on #93
Currently, I think parallel evaluations are hopeless in the near term. However, I see some hope in the long term.

From what we have investigated, the segfault occurs when we are calling a Julia callback from an external C thread (cf previous stacktrace).

Two workaround would be

- On the Knitro side: ensure that when we set [`par_concurrent_evals`](https://www.artelys.com/docs/knitro//3_referenc

[2020-06-07 11:01] ferrolho commented on #161
Thanks for the answer! I understand the points you've listed and the current approach may not be that bad after all. :slightly_smiling_face:

[2020-06-07 11:01] #161 closed

[2020-06-13 16:15] mlubin opened #162 "migration to jump-dev"
@frapac, we're moving repositories out of the JuliaOpt org. Would Artelys prefer to move this repository into [jump-dev](https://github.com/jump-dev) or a more official "Artelys" organization?

[2020-06-15 16:30] frapac commented on #162
I do not see any objection in moving this repo into jump-dev

[2020-06-16 20:47] mgabay commented on #162
Hi Miles and François,
I support moving it to jump-dev. You both, Yeesian and the community have been doing tremendous work around this interface and I see no reason to sever this link.

[2020-06-16 21:15] mlubin commented on #162
Got it, thanks!

[2020-06-16 21:15] #162 closed

[2020-06-19 13:56] ferrolho opened #163 "Issues with Knitro 12.2"
Hi, @frapac! Hope you are doing well.

I have just updated from Knitro `12.1.0` to Knitro `12.2.0` and was very excited about the promising performance improvements for large-scale general nonlinear problems [announced here](https://www.artelys.com/news/solve-your-nonlinear-problems-faster-than-ever/). However, my experience is actually the opposite, and I am wondering if this new version contains

[2020-06-22 21:54] richardwaltz commented on #163
Hi,
The dropoff in performance in Knitro 12.2 on your model seems to be a result of some modifications to the L-BFGS Hessian approximation in this new version (hessopt=6).  Although these modifications improve performance on many models, they have a detrimental affect on your model.  We will investigate this further and see if we can improve it for the next release.  I wonder if you are able to pr

[2020-08-04 17:01] KSepetanc opened #166 "Unable to set "par_numthreads""
I am using a command:
`pol=Model(optimizer_with_attributes(KNITRO.Optimizer,"par_numthreads"=>4))`

I don't know why, but the solver states that it is running with:
[code]
I have tried everything, but on this model it just simply refuses to set the option?
The model has general nonlinear constraints (no integral variables).
On some other models which are QCQP, option is successfully set-up.

Is th

[2020-08-04 20:43] frapac commented on #166
Knitro is currently having an issue: when we have a model with a generic non-linear objective and/or non-linear constraints, we could not use different threads inside Knitro (apart in the sparse linear algebra). The reason is that we are getting segfault when we are calling a Julia function from a C thread. This is a known issue in Julia (see e.g. #93 ).
Since Knitro 12.2, the number of threads is

[2020-08-05 10:55] KSepetanc commented on #166
I am having tough time finding proper Knitro link.
I have been using Gams/Knitro until now, but I have found out that Gams represents all quadratic constraints as general non-linear to the solver. Also, it is still using old Knitro API. I don't know how it handles multithreading, but it does have some features.
Now I find that Julia link has multithreaded problems which are not handled nicely even

[2020-08-05 12:19] frapac commented on #166
Your feedback is interesting. I would say:
* Knitro-Julia is good to handle quadratic constraints, as it is using the new API. The main issue is the problem we are facing with multithreading when we are calling Julia callbacks from Knitro.
* Knitro-Ampl is maybe the most mature interface. In this interface, you could call callbacks (which are implemented in C at the end, using ASL) in a multithrea

[2020-08-05 13:42] KSepetanc commented on #166
I have sent you on email working example, albeit not a minimum example but more or less full example.
It is using algorithm=1 (as set by default). This algorithm is a must as I have found out that only that one computes consistently correct constraint marginal values which is the purpose of that solve (presolve).

[2020-08-05 19:41] KSepetanc opened #167 "Error loading two-sided quadratic inequalities"
I am getting very long error while trying to load two-sided quadratic inequalities. It is not a big problem since I can load them as two separate constraints, but I see that it is supported by the solver so it is reasonable to support it with the link.

Used constraint:
`epsilon=1e-3`
`@constraint(sd, cosf_cce[t in t,(n,m) in buspairs;Ccond[(t,n,m)]], -epsilon/2 <= lambda14[t,(n,m)]*cv1[t,(n,m)] +

[2020-08-05 20:18] frapac commented on #167
Good catch. We should add `ScalarQuadraticFunction-in-IntervalSet` in the MOI wrapper.

[2020-08-05 20:21] odow commented on #167
How is this even getting called? Why isn't this bridged? Do you have a full MWE?

[2020-08-06 08:46] blegat commented on #167
If the wrapper just ends up splitting the constraint in a `ScalarQuadraticFunction`-in-`LessThan` and a `ScalarQuadraticFunction`-in-`GreaterThan` as KNITRO does not exploit the specific structure of a quadratic interval constraint then the MOI wrapper should **not** support it.
We should maybe update the error message saying

[2020-08-06 17:23] frapac commented on #167
Closed by #168

[2020-08-06 17:23] #167 closed

[2020-08-06 19:55] joaquimg opened #169 "Complementarity constraints can only be added all at once"
Can we do something better?

Bridges won't work for that, because they act constraint by constraint.
Some possibilities are:
 - caching on knitro wrapper and only passing the solve is called
 - doing something in caching optimizer (does not seem very generic)
 - write a model transformation wrapper like Dualization.jl, that will cache complements and only pass once, if this is knitro specific, may

[2020-08-06 21:26] frapac commented on #169
I agree that the current solution is far from optimal. I see two solutions :
* the improvement of MPEC's API is in Richard's TODO list, but that might take some time
* otherwise, your first idea looks like a good solution in the short term.

I do not think that would be too hard to cache the MPEC structure in `KNITRO.Model` and then pass the MPEC structure to Knitro when `KN_solve` is called. I co

[2020-08-13 20:29] KSepetanc commented on #166
I am also concerned with derivation evaluation performance (Jacobian and Hessian) for KNITRO in Julia (for NLConstraints).
JuMP manual states that it is about 5 times slower than in AMPL. I noticed that these evaluations take the most time in NL solve, i.e. they are bottleneck even in GAMS (which should have C based evaluations).

Could you provide some feedback if there is an actual difference in

[2020-08-14 08:31] frapac commented on #166
Most of the difference between AMPL and Julia comes from the different AD backends used in these two modeling tools. JuMP's AD is quite good, but not in par with AMPL's one (which benefit from almost thirty years of development). Notably, AMPL is very efficient to compute the Hessian matrix with AD.

JuMP's AD is using a fork of ForwardDiff, with additional coloring abilities to compute the Hessia

[2020-08-28 11:20] KSepetanc commented on #166
Have you had time to check bound problem from the example?
I haven't found any reason why providing a bound poses a problem.

[2020-11-12 14:23] frapac opened #175 "Warning issued by Knitro's tuner during tests"
Knitro is issuing the following warning when running the tests:
[code]

[2020-12-13 00:49] JuliaTagBot opened #177 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-01-28 19:43] ferrolho opened #180 "[Knitro 12.3] Error when setting variable bound to `Inf`"
Hi, François! :) Today I upgraded from _Knitro 12.2.2_ to _Knitro 12.3.0_, and I bumped into this error:
[code]
The problem was that I was defining the lower and upper bounds of some decision variables with `-Inf` and `+Inf`. I stopped defining the bounds for variables which do not have bounds, and things are now working. Anyway, I decided to create this issue because I wanted to ask you: do you t

[2021-02-05 14:35] ferrolho commented on #163
Hi! :slightly_smiling_face: Thank you for your reply, @richardwaltz.

I have recently upgraded to Knitro 12.3 and tested this again; the behaviour seems very similar to Knitro 12.2.

I followed your suggestion of manually specifying the Hessian to Knitro using _ForwardDiff.jl_. The updated notebook can be found [here](https://nbviewer.jupyter.org/github/ferrolho/space-shuttle-reentry-trajectory/bl

[2021-02-05 14:35] #163 closed

[2021-04-19 21:26] yecyn opened #184 "Error:Unable to locate KNITRO installation, please check your environment variable KNITRODIR."
Hello,

I've downloaded KNITRO from Artelys, and I have unpacked the zip file and have a folder named "knitro-12.3.0-MacOS-64" under my home file.

However, while I was running the `using KNITRO` in jupyter notebook, I got the following error:

[code]

The I tried running `] build KNITRO`, but got the following error:
[code]

It would great if someone could please help me, thank you so much!

[2021-04-19 23:11] odow commented on #184
I guess you need something like:
[code]

The documentation should be improved.

[2021-04-20 00:51] yecyn commented on #184
Yes, thank you so much!!

[2021-04-20 00:51] #184 closed

[2021-05-03 11:26] joaquimg commented on #169
solved by #170

[2021-05-03 11:26] #169 closed

[2021-05-03 12:10] #125 closed

[2021-08-03 12:14] adamferreira opened #194 "MOI Wrapper overriding Knitro options"
[code]

In this example I would like to use Knitro's second algorithm to solve a SOCP.
However both attempts on setting the option value are failing as the MOI hard-set 'algorithm' to '1' under the hood when calling ```optimize!``` .

[2021-08-12 15:42] frapac opened #196 "Implement MOI solver-dependant callback for intermediate callback"
Implements something similar as: https://github.com/jump-dev/Ipopt.jl/pull/241

[2021-09-08 12:26] frapac opened #197 "Replace `MOI.DeprecatedTests` by `MOI.Tests` in `runtests.jl`"

[2021-09-08 16:02] #194 closed

[2021-09-08 16:02] frapac commented on #194
Closed by #198

[2021-09-08 18:19] #175 closed

[2021-10-07 13:12] #105 closed

[2021-10-08 08:44] #197 closed

[2021-10-08 08:46] frapac opened #201 "[MOI] Fix wrapper with SecondOrderCone constraints"
The MOI wrapper is currently broken with `SecondOrderCone` constraints: `MOIT.test_conic` is failing, because:
1. the primal and dual solutions have the wrong dimension
2. the solution returned is false

[2021-10-26 09:09] stelmo opened #204 "Error updating `NLparameter`"
Hi, I seem to be unable to update parameters for resolves using the JuMP interface. Below is a MWE:
[code]
The error message is:
[code]
I am using Julia v1.6.3, JuMP v0.21.10 and KNITRO v0.10.
Any ideas on how to do this?

[2021-11-02 17:44] tmigot opened #205 "Test wether KNITRO can be used"
Depending on the user's configuration, KNITRO might be available or not. What is the preferable way to check this?

Right now, I am using a try/catch structure, but I was wondering if there was a cleaner solution.
[code]

[2021-11-02 21:05] odow commented on #205
See https://github.com/JuliaPackaging/Requires.jl

[2021-11-03 12:57] frapac commented on #205
We could adopt a similar solution as in CUDA.jl, and implement a function `has_knitro()` such that
[code]
returns `true` if KNITRO is available. Would that solve your issue?

[2021-11-19 17:48] 3ch01c opened #207 "ERROR: LoadError: Unable to locate KNITRO installation, please check your environment variable KNITRODIR."
Similar to #184. Am I setting `KNITRODIR` wrong?

Using the following build environment:

[code]

[code]

[code]

[2021-11-19 17:55] 3ch01c commented on #207
Looks like changing image from `julia:1.7-alpine`  to `julia:1.7` fixed it.

[2021-11-19 17:55] #207 closed

[2021-12-02 10:51] frapac opened #208 "[Julia 1.7] Segfault when testing Knitro's API"
The [fourth testset](https://github.com/jump-dev/KNITRO.jl/blob/master/test/knitroapi.jl#L450-L541) returns a non-deterministic segfault in Julia 1.7, related to the GC.

[code]

[2022-02-28 17:35] frapac opened #214 "Generate C wrapper with Clang.jl"

[2022-03-02 11:15] Shuvomoy opened #216 "KNITRO.jl cannot be added with latest JuMP, MathOptInterface"
Dear All,

If I try to install KNITRO

`add KNITRO`

it downgrades JuMP and MathoptInterface

[code]

[2022-03-02 14:15] frapac commented on #216
This is expected, as KNITRO.jl supports MOI 1.0 only on `master`. A new release is expected soon.

[2022-03-02 14:50] Shuvomoy commented on #216
Okay thanks @frapac !

[2022-03-07 15:41] frapac commented on #216
Hi,
Knitro.jl 0.12.0 has been released, bringing support for MOI 1.0.
Closing this issue now, but feel free to reopen if you encounter any issue with the new version.

[2022-03-07 15:41] #216 closed

[2022-03-25 14:08] frapac commented on #214
Closed by #215

[2022-03-25 14:08] #214 closed

[2022-03-25 14:10] frapac commented on #154
Closing this issue for now. Feel free to reopen if you have any additional comments.

[2022-03-25 14:10] #154 closed

[2022-05-14 03:33] chengg04 commented on #184
I still receive the same error message after setting the environment variable. More specifically, after `ENV["KNITRODIR"] = "~/knitro-13.0.1-MacOS-M1` and `] build KNITRO`, I got the message `Error:Unable to locate KNITRO installation, please check your environment variable KNITRODIR.`.

I tried a workaround where I directly create a deps.jl file inside KNITRO.jl package folder, and put in the fol

[2022-05-14 03:41] odow commented on #184
Hi @chengg04, what is `versioninfo()`? Are you running the M1 build of Julia?

Note that most solvers (and JuMP) have troubles with M1 at the moment: https://github.com/jump-dev/JuMP.jl/issues/2971. I would stick to the Intel builds and Rosetta.

p.s. please make a new post rather than commenting on an old closed issue.

[2022-05-16 21:58] chengg04 commented on #184
Thank you very much @odow. You are right, my Julia build is for Intel (via Rosetta), not for M1. I re-downloaded Knitro for OSX Intel and was able to run it with Julia.

I'll remember to make a new post next time.

[2022-06-03 12:44] ferrolho opened #220 "README.md clarification"
Shouldn't this read 0.11.0 and 0.12.0 instead?

[2022-06-03 13:20] frapac commented on #220
Good question. In fact, the README is correct, it's just the version 0.13.0 has not been released yet. Maybe it's a good time to move forward on this.

[2022-06-03 13:25] ferrolho commented on #220
I was about to delete this issue when I saw that the commit date that added that message to the README.md was _after_ v0.12 was released... :P Thanks for the prompt reply!

[2022-06-03 13:30] frapac commented on #205
Closed by #219

[2022-06-03 13:30] #205 closed

[2022-06-03 13:32] #220 closed

[2022-06-03 13:34] frapac commented on #220
I think in semver the rules are different when a package has not reached its stable version (1.0) yet. In that case, we update only the minor digit to flag a breaking change. But a version 1.0 is coming soon!

[2022-06-03 13:38] ferrolho commented on #220
I would argue that this package is already more than stable to deserve a 1.0 version. :P (Don't read this as a complaint, rather as a compliment.) But if there are breaking changes coming in soon, might as well get them in before tagging `v1.0`, I agree.

[2022-06-03 13:43] frapac commented on #220
The release 0.13.0 is a major revamp of the C wrapper, and it brings some changes in the API if the users are using the low-level wrapper (no difference in MOI/JuMP). But it was worth doing before releasing a stable release, as it will considerably simplify future maintenance!

The current plan is to wait approx. one month before releasing Knitro.jl 1.0, just to give some time to detect potential

[2022-06-03 13:47] ferrolho commented on #220
I can work on a PR for #180. Can you leave a reply on that issue as to how you think we should fix it?

[2022-06-03 13:52] frapac commented on #220
Sure! Let me try to reproduce the issue first, then I think it should not be difficult to introduce a safeguard!

[2022-06-07 00:13] jd-foster opened #222 "MathOptInterface.UnsupportedAttribute "maxtime_cpu""
This came up on Discourse:
https://discourse.julialang.org/t/julia-with-knitro/81686/2

MWE
[code]
gives
[code]
Cross-ref: https://www.artelys.com/docs/knitro//3_referenceManual/userOptions.html?highlight=maxtime_cpu#maxtime_cpu

[2022-06-07 01:21] frapac commented on #222
Thanks for reporting this, I missed the original post on Discourse.

I suspect the original post were using Knitro 13.0. This version renamed a few options to be consistent with the options used to tune the new parallel branch & bound algorithm implemented in this version. `maxtime_cpu` is one of these options, and has been renamed `maxtimecpu`. The following code works on my machine, with Knitro

[2022-06-07 23:51] jd-foster commented on #222
Ok, thanks. Does this mean that this line should updated?
https://github.com/jump-dev/KNITRO.jl/blob/460d60ac1f8bb51ad68c8ccc8a27b906ce060279/src/MOI_wrapper.jl#L287

Or did you mean that you intend to revert back to `maxcpu_time` rather than `maxcputime`?

[2022-06-08 01:11] frapac commented on #222
I think we should update this line as well, not sure how it is handle internally in Knitro (it could be that `maxtime_cpu` is discarded if Knitro >= 13.0, leading to unexpected behavior). We just have to do the update carefully to maintain the compatibility with Knitro 12.*

this is done internally in the Knitro solver, so not sure we can do anything here

[2022-07-14 20:33] dpo opened #225 "KNITRO not found on macOS"
I'm on macOS M1 and for some reason, KNITRO.jl isn't finding my installation of KNITRO:
[code]

I don't think `LD_LIBRARY_PATH` is particularly relevant on macOS. I used to have to set `DYLD_LIBRARY_PATH` instead, but that doesn't seem to do it either.

I can certainly use the `knitroampl` binary from the shell, so my license is ok. The `build.log` file is empty.

If I try to run the unit tests, I

[2022-07-14 21:42] frapac commented on #225
That's indeed unexpected. `Pkg.build` looks for a shared library both in `$KNITRODIR/lib` and in `LD_LIBRARY_PATH`. Your KNITRODIR looks correct, so it should be able to find the library on your computer. What's the output of the following command?
[code]

[2022-07-14 21:44] dpo commented on #225
[code]

[2022-07-14 21:47] frapac commented on #225
ok. And what's the output of the following command in Julia?
[code]

[2022-07-14 22:09] dpo commented on #225
[code]

Is this due to the fact I have to run Julia for x86_64 on the M1, yet the Knitro lib is for M1? I just tried with Ipopt and it seems to be working... though the unit tests hang midway... 🤔

[2022-07-14 22:22] dpo commented on #225
Would the Knitro 86_64 run on the M1? Is it possible to install it alongside the M1 lib?

[2022-07-14 22:28] frapac commented on #225
I think you can download Knitro x86_64 on the M1. Not sure it will work out of the box (the x86_64 build is compiled with MKL). Have you tried running Knitro with rosetta?

[2022-08-03 22:09] jlperla opened #227 "Add support to Optimization.jl"
For non-DSL usage, it would be great to have support within https://github.com/SciML/Optimization.jl   I think it could be a light wrapper for someone who knows the KNITRO API.

[2022-08-03 22:17] frapac commented on #227
I am not very familiar with Optimization.jl, but can we use [OptimizationMOI](https://github.com/SciML/Optimization.jl/tree/master/lib/OptimizationMOI) to use directly Knitro inside Optimization.jl?

[2022-08-03 22:26] jlperla commented on #227
Thanks @frapac  I just remain suspicious of wrappers intended to support DSL usage.  It seems like MOI could add in overhead/etc.  am not sure what the tradeoffs are there but DSL-inspired.

But maybe @ChrisRackauckas might have thoughts on limitations in the MOI style wrapping.  Maybe just an MOI example using Optimization.jl would suffice?  I have a student trying to use KNITRO but where JuMP is

[2022-08-03 22:50] odow commented on #227
I don't think this should go in KNITRO.jl. You're welcome to make a separate wrapper package like these: https://github.com/SciML/Optimization.jl/tree/master/lib.

JuMP is a DSL. But it doesn't pass the DSP to KNITRO. It just passes callbacks.

What was the problem?

http://optimization.sciml.ai/stable/optimization_packages/mathoptinterface/

Although note that OptimizationMOI may struggle with la

[2022-08-04 01:04] dpo commented on #227
@jlperla Have a look at https://github.com/JuliaSmoothOptimizers/NLPModelsKnitro.jl.

[2022-08-04 15:43] ChrisRackauckas commented on #227
That only tested the symbolic derivatives vs symbolic JuMP. The point here is that this application doesn't fit into symbolic JuMP (this is using stuff like DifferenceEquations.jl etc, "non-DSL usage"), so the fast JuMP DSL stuff doesn't apply. Optimization.jl with AutoZygote() into MOI is what you'd want then.

[2022-08-04 16:37] jlperla commented on #227
@odow

Totally agree.  I guess what I am suggesting is that (1) support for Optimization.jl should be part of the knitro toolset to maximize non-DSL approaches to using it; and (2) maybe even link from the frontpage of KNITRO.jl to that support as an example.  Since `SmoothOptimizers` has support for knitro then it is probably worth pointing that out from the front-page as well.

@ChrisRackauckas

[2022-08-07 12:53] ChrisRackauckas commented on #227
It supports all that it can. There's four things involved here. There's the objective function, the derivative function, the symbolic objective, and the symbolic derivative. If the function cannot be represented symbolically (quasi-static or nonlinear size explosion or something), then the derivative cannot be represented symbolically. If symbolic information can be obtained, MOI allows this to be

[2022-08-17 22:39] odow commented on #227
What (if anything) is actionable here? Adding a link to NLPModels in the README?

An KNITRO/Optimization wrapper can live in Optimization.jl/lib, so we won't be adding support for it in KNITRO.jl or `jump-dev`.

[2022-08-17 22:41] odow commented on #225
Is this resolved? You should be able to run KNITRO x86_64 on the M1 with Julia x86_64, Or KNITRO arm64 with Julia arm64.

I have an M1, but not a KNITRO license, so I can't test unfortunately.

x-ref: https://github.com/jump-dev/JuMP.jl/issues/2971. If you previously tried on Julia 1.7, try with the latest 1.8-rc4. It fixes a lot of issues.

[2022-08-17 22:47] odow commented on #204
I have a guess at what is wrong:

You initialize things only if `nlp_loaded` is `false`:
https://github.com/jump-dev/KNITRO.jl/blob/f61bed3bf19cc38f08fc8f2a90ef00e5b2e3e1fb/src/MOI_wrapper.jl#L348-L369

But setting the `NLPBlockData` doesn't reset `nlp_loaded` to `false`:
https://github.com/jump-dev/KNITRO.jl/blob/f61bed3bf19cc38f08fc8f2a90ef00e5b2e3e1fb/src/MOI_wrapper/nlp.jl#L5-L7

So the first

[2022-08-17 22:48] jlperla commented on #227
Yeah, I think pointers on the readme to `Optimization.jl` and NLPModels?  People don't realize they can use Knitro without JuMP (or dropping to the low-level interface which is tough to use).  Maybe an example of knitro+MOI+optimization.jl couldn't hurt over there.

Yes.  If the MOI wrapper proves insufficient then a follow-on for creating a separate wrapper in Optimization.jl might help if someon

[2022-08-17 22:50] odow commented on #119
If this is an upstream bug in KNITRO, was this resolved? It doesn't seem like there is anything actionable in KNITRO.jl.

[2022-08-17 22:52] odow commented on #136
Closing as stale, and because there doesn't seem to be anything actionable here.

[2022-08-17 22:52] #136 closed

[2022-08-17 22:54] odow commented on #227
Here's where it should go: http://optimization.sciml.ai/stable/optimization_packages/mathoptinterface/#KNITRO.jl-(MathOptInterface)

[2022-08-17 23:09] odow commented on #227
I made a bunch of changes to the README: https://github.com/jump-dev/KNITRO.jl/pull/229

[2022-08-17 23:12] odow commented on #208
I get a `Page not found` error: https://github.com/jump-dev/KNITRO.jl/blob/master/test/knitroapi.jl#L450-L541.

What's the test set? Hard to debug if it is non-deterministic.

[2022-08-17 23:14] odow commented on #180
Do you have a reproducible example of this?

[2022-08-17 23:14] odow commented on #196
Closing as duplicate of #92

[2022-08-17 23:14] #196 closed

[2022-08-18 02:17] dpo commented on #225
I'm still getting the same errors as above after installing KNITRO 13.1 for x86_64 and running it in Julia 1.7.3 for x86_64. I'll test Julia 1.8-rc4 as soon as it appears on juliaup. I can run `knitroampl` just fine from the command line.

[2022-08-18 02:43] dpo commented on #225
Upgrading juliaup gave access to 1.8-rc4. The results are more promising but a bunch of tests fail. `KNITRO.has_knitro()` finally returns `true`. The complete output is here: https://gist.github.com/dpo/2df7b64b32855619206b608517050413

[2022-08-18 04:28] odow commented on #225
The test failures are #224 and #228, but it looks like the M1 is working fine.

[2022-08-18 04:28] #227 closed

[2022-08-18 05:31] odow commented on #119
Closing because this doesn't seem to be a bug in KNITRO.jl.

[2022-08-18 05:31] #119 closed

[2022-08-24 16:31] GabrielPonte opened #231 "SYSTEM: show(lasterr) caused an error"
I was trying to use KNITRO with MOI, and I tested this example [here](https://jump.dev/MathOptInterface.jl/stable/tutorials/example/) using KNITRO.jl.
I tried a Cutting Plane method, so after optimizing the model, I added the constraint below
`MOI.add_constraint(optimizer,x[1],MathOptInterface.LessThan{Float64}(0.0));`
And this caused the error: `SYSTEM: show(lasterr) caused an error`
I tried to u

[2022-08-24 21:31] odow commented on #231
I don't know what the `show` problem is (we're likely missing a method), but KNITRO doesn't support adding constraints after optimize!:
https://github.com/jump-dev/KNITRO.jl/blob/d91f31830578e9928ab87320e53b3b8c62a2f2ca/src/MOI_wrapper/constraints.jl#L145-L150

One solution is to use a caching optimizer:
[code]

[2022-08-24 22:02] GabrielPonte commented on #231
Thanks, I replaced `optimizer = KNITRO.Optimizer()` to
[code]
but I got this error
[code]
Actually, the main reason that I opened this issue is because I'm getting the same error using Juniper with KNITRO.jl. Should I open another issue in [here](https://github.com/lanl-ansi/Juniper.jl/issues)?

[2022-08-24 22:26] odow commented on #231
No need to open another issue. There are a bunch of issues with the KNITRO wrapper that need fixing. We're mainly constrained because we don't have CI, although I hope to sort that today or tomorrow.

[2022-08-24 22:33] GabrielPonte commented on #231
Thank you!

[2022-08-24 22:57] odow commented on #225
Closing because tests are passing (although we need to fix a bunch of excluded ones): #230

[2022-08-24 22:57] #225 closed

[2022-08-24 23:11] odow opened #233 "Fix excluded tests in MOI"
There are a large number of tests in MOI that are excluded:

https://github.com/jump-dev/KNITRO.jl/blob/c77bd0f30ac9e2e8c7950db005c34d3da9fe92f2/test/MOI_wrapper.jl#L44-L59

This is generally a sign that there are bugs in the interface that need fixing.

We should also try the tests without a caching optimizer, which will expose a lot more problems.

[2022-08-25 08:45] #222 closed

[2022-08-25 08:46] #204 closed

[2022-08-25 08:53] stelmo commented on #204
Thank you very much!

[2022-08-25 19:25] odow commented on #208
Closed by #238

[2022-08-25 19:25] #208 closed

[2022-08-25 23:06] #231 closed

[2022-08-25 23:10] odow commented on #180
I've tried various things to reproduce this without success, so closing as non-reproducible (or perhaps fixed).

Please re-open if you have a reproducible example.

[2022-08-25 23:10] odow commented on #201
Closing as duplicate of #233 There are a bunch of second order cone tests failing.

[2022-08-25 23:10] #201 closed

[2022-08-25 23:20] ferrolho commented on #180
FYI, I did not ignore your comment, Oscar; it's just that I'm having issues with my KNITRO licence for a few days now (machine ID is picking up a different network card), and without a licence it's hard to work on a MWE. Anyway, I could've dropped a message here saying that I was looking into it, so apologies for that.

[2022-08-25 23:33] odow commented on #180
Was it with JuMP? MOI? Or the pure Knitro API?

[2022-08-25 23:35] #166 closed

[2022-08-26 09:33] odow commented on #233
Fixed quite a few things, and we no longer return incorrect solutions for ConstraintPrimal and ConstraintDual of SecondOrderCone constraints. But I want to fix the direct-mode issues before closing this issue.

[2022-08-26 10:17] ferrolho commented on #180
It was while using the Knitro API directly.

Here's part of a commit diff on a private repos (from 28 Jan 2021), where I added an `!isinf` check to work around the issue:

![image](https://user-images.githubusercontent.com/4166093/186882249-5199d24a-9637-4472-8fd4-4830e4aa1709.png)

[2022-08-27 00:11] odow commented on #180
I'm going to mark this as won't-fix. In general, calling the C API is on the user to get right, and it's my experience with other wrappers that introducing additional checks into the C wrapper is just a recipe for problems.

I already think the C_wrapper.jl is too heavy, but removing it is probably too breaking: https://github.com/jump-dev/KNITRO.jl/blob/master/src/C_wrapper.jl

Gurobi/CPLEX/etc a

[2022-08-28 21:23] #180 closed

[2022-08-29 10:53] ferrolho commented on #180
Fair enough! Thanks, @odow.

[2022-11-23 15:14] thiagonovaesb opened #244 "Knitro.jl cannot handle Integer Variables"
[code]
Produce this:
[code]

[2022-11-24 00:07] odow commented on #244
What is `soluution_summary(model)`?

And what if you have `@constraint(model, x >= 0)` before `optimize!`? This might happen because there are binary variables and no constraints.

[2022-11-24 15:02] thiagonovaesb commented on #244
`solution_summary(model)` shows this?
[code]

Actually, this is a small example, but I found this bug in another problem with a lot of constrains. So I tried add `@constraint(model, x >= 0)`, but it does not works.

[2022-11-24 18:56] odow commented on #244
Hmm: problem is here:
https://github.com/jump-dev/KNITRO.jl/blob/685808fa2e634e32c9d648e5bb3abf84221b897a/src/MOI_wrapper/constraints.jl#L318-L329

Try: `@variable(model, 0 <= x <= 1, Bin)`

[2022-11-25 02:51] Thiago-NovaesB commented on #244
@odow That didn't work either. I think we really need to check if the bounds exist before trying to get them. I opened a PR with a suggested fix.